extends layout

block styles 
  link(rel='stylesheet', href='/stylesheets/jsonlint.css')

block content
  main(class="jsonlint__container")
    section(class="jsonlint__section") 
      div(class="jsonlint__field-wrapper")
        div(class="jsonlint__label-wrapper jsonlint__label-wrapper--vertical")
          label(for="json-text") JSON
        textarea(id="json-text" class="jsonlint__textarea" value=jsonText)
      div(class="jsonlint__actions-wrapper")
        button(id="validate-button" type="button" class="jsonlint__button") Validate JSON
        button(id="clear-button" type="button" class="jsonlint__button") Clear
        button(id="copy-button" type="button" class="jsonlint__button") Copy to clipboard
    section(class="jsonlint__section")
      h2 Result 
      div(id="result-container" class="jsonlint__result-container")
        span(id="result-message")

block scripts
  script(src="javascripts/jsonvalidator.js")
  script(src="javascripts/jsonlint.js")