extends layout

block styles 
  link(rel='stylesheet', href='/stylesheets/formatter.css')

block content
  main(class="formatter__container")
    section(class="formatter__section") 
      div(class="formatter__field-wrapper")
        div(class="formatter__label-wrapper formatter__label-wrapper--vertical")
          label(for="xml-text") XML
        textarea(id="xml-text" class="formatter__textarea" value=xmlText)
      div(class="formatter__actions-wrapper")
        button(id="validate-button" type="button" class="formatter__button") Format XML
        button(id="clear-button" type="button" class="formatter__button") Clear
        button(id="copy-button" type="button" class="formatter__button") Copy to clipboard
    section(class="formatter__section")
      h2 Result 
      div(id="result-container" class="formatter__result-container")
        span(id="result-message")

block scripts
    script(src="javascripts/dist/xmlformatter.bundle.js")