.fromatter__container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.formatter__field-wrapper {
    display: flex;
    flex-direction: column;
}

.formatter__label-wrapper {
    width: 100%;
}

.formatter__result-container{
    width: 100%;
    min-height: 2em;
    padding: 5px;
}

.result-container--valid {
    background-color: rgb(132, 163, 132);
}

.result-container--error {
    background-color: rgb(231, 142, 142);
}

.formatter__label-wrapper--vertical {
    margin-bottom: 0.5em;
}

.formatter__textarea {
    height: 60vh;
}

.formatter__button {
    padding: 10px 15px;
    border: 1px soli;
}

.formatter__section {
    margin: 5px;
}

.formatter__actions-wrapper {
    width: 100%;
    margin-top: 0.5em;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
}

@media only screen and (min-width: 768px) {
    .formatter__actions-wrapper {
        margin-top: 0.5em;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 5px;
        grid-auto-columns: max-content;
    }
}