html, body { margin: 0; padding: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

a {
  color: #78878d;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.main-menu--item {
  float: left;
}

.main-menu--item a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-menu--item a:hover:not(.active) {
  background-color: #ddd;
}

.main-menu--item a.active {
  color: white;
  background-color: #717576;
}